<div class="profile">
  <header>
    <h1>My profile</h1>
    <nav>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/issues">Issues</a></li>
        <li><a href="/seniors/profile">My Profile</a></li>
        <% unless @senior %>
        <li><a href="/sessions/new">Sign In</a></li>
        <% end %>
        <li><a href="/seniors/sign_up">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <% if current_user %>

  <h2>Hi there, <%= current_user.name %></h2>
  <section class="account">
    <h3>Your account info</h3>
    <table>
      <tr>
        <td>Name</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= current_user.address %></td>
      </tr>
      <tr>
        <td>Phone number</td>
        <td><%= current_user.phone_number %></td>
      </tr>
    </table>
  </section>
  
  <section class="myissues">
  <h3>To report a new problem just text (732) 993-6801</h3>
    <ul>
      <% current_user.issues.each do |i| %>
        <li><%= i.content %><br/><p>Created <%= i.created_at.strftime("%b %d, %Y") %></p></li>
      <% end %>
    </ul>
  </section>

  <% else %>

    <h2>You must log in first</h2>

  <% end %>

  <footer>
    <ul>
      <li>
        <form action="/sessions" method="post">
          <%= token_tag %>
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Log out</button>
        </form>
      </li>
      <li>
        <form>
          <a href="/seniors/profile/edit"><button>Edit profile</button></a>
        </form>
      </li>
      <li>
        <form action="/seniors/<%= current_user %>" method="post">
          <%= token_tag %>
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete profile</button>
        </form>
      </li>
    </ul>
    <p>Made by Aziz Hasanov</p>
  </footer>
</div>
